
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 60% 98%; /* Light Lavender White */
    --foreground: 240 10% 3.9%; /* Almost Black */
    --card: 240 60% 98%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 60% 98%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 250 80% 60%; /* Vibrant Purple */
    --primary-foreground: 210 40% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 250 80% 60%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 210 40% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 210 40% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 250 80% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 250 80% 60%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
  }
}

.grid-background {
    background-image:
        linear-gradient(to right, rgba(200, 200, 200, 0.1) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(200, 200, 200, 0.1) 1px, transparent 1px);
    background-size: 2rem 2rem;
}

.login-gradient-background {
  background-size: 200% 200%;
  background-image: linear-gradient(
    -45deg,
    hsl(250, 90%, 65%),
    hsl(250, 80%, 50%),
    hsl(250, 90%, 65%)
  );
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
